<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table border="10" cellpadding="15" cellspacing="0">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>

    </tr>
    <tr th:each="user, state : ${users}" align="center">
        <td th:text="${state.index + 1}"></td>
        <td>
            <a th:href="@{/admin(id=${user.getId()})}">
                <span th:text="${user.getName()}"></span>
            </a>
        </td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRolesName()}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.getId()})}"><button><strong>Update!</strong></button></a>
            <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">
                <input type="submit" value="Delete!"/>
            </form>
        </td>
        </td>
    </tr>
</table>

<br/>
<hr/>
<a href="/admin/new"><button><strong>New user</strong></button></a>
<a href="/logout"><button><strong>Logout</strong></button></a>

</body>
</html>