<!DOCTYPE html>
<html lang="ru" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--    <script type="text/javascript" th:src="@{/js/js.js}" src="../static/js/js.js"></script>-->

    <!--    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Panel</title>
    <style>
        input, select {
            max-width: 50%;
        }
    </style>
</head>
<body class="h-100">
<div class="d-flex bg-dark py-2 px-4 justify-content-between align-items-center">
    <h4>
        <span class="text-light" th:text="${user.getEmail()}"></span>
        <small class="text-light">with roles:
            <th:block th:each="role: ${user.getRoles()}" th:text="${role.nameNoPrefix()} + ' '"></th:block>
        </small>
    </h4>
    <a class="text-light text-decoration-none" href="/logout">Logout</a>
</div>

<!--основной блок________________________-------_____--------______--------_________------------_____-->

<div class="container-fluid h-100">

    <div class="row h-100">
        <!--это левый блок юзер/админ________________________-------_____--------______--------_________------------_____-->

        <div class="col order-first">

            <nav class="nav flex-column nav-pills pt-4">
                <a class="nav-link active" data-toggle="tab" href="">User</a>
            </nav>
        </div>
        <!--это правая часть основы________________________-------_____--------______--------_________------------_____-->

        <div class="col-md-10 h-100" style="background-color: aliceblue">
            <br>
            <h1>User information-page</h1>
            <br>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="users">
                    <div class="card">
                        <div class="card-block">

                            <div class="newForm">
                                <div class="p-3 border">
                                    <h5 class="my-0 mx-2">About user</h5>
                                </div>
                                <div class="p-3 bg-white border border-top-0">
                                    <table class="table table-striped bg-white">
                                        <thead>
                                        <tr>
                                            <th class="text-center" scope="col">ID</th>
                                            <th class="text-center" scope="col">First Name</th>
                                            <th class="text-center" scope="col">Last Name</th>
                                            <th class="text-center" scope="col">Age</th>
                                            <th class="text-center" scope="col">Email</th>
                                            <th class="text-center" scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getSurname()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getRolesName()}"></td>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<table border="10" cellpadding="15" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Surame</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>

    </tr>
    <tr align="center">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRolesName()}"></td>
        </td>
    </tr>
</table>
<a href="/logout"><button><strong>Loogout</strong></button></a>-->

</body>
</html>